{% extends "base.html" %}

{% block container %}
<div class="container survey">

    <h2> Consent Form </h2>
    This app is part of an MIT scientific project. The data you generate here
    can be used in a research study to understand how groups communicate. By
    Clicking "I Consent" below, you indicate that you understand the following:

    <ul>
        <li>
            You must be at least 18 to participate
        </li>
        <li>
            Your participation is voluntary, and uncompensated
        </li>
        <li>
            Participating will not have any positive or negative effects on the
            class you are taking
        </li>
        <li>
            You may stop contributing this data at any time by emailing cues-support@mit.edu
        </li>
        <li>
            ALl of your data will be linked to an encrypted identifier that we
            cannot link back to you or your online identity
        </li>
        <li>
            The only information we will collect is the dynamics of your
            conversation (e.g. who speaks, when and for how long), and anonymized features from your video stream,
            NOT any content.
        </li>
        <li>
            The possible risks of the study are minimal
        </li>
    </ul>
<br>
<form action="{{request.get_full_path}}" method="post">
    {% csrf_token %}
    <input class="btn btn-primary nextButton col-md-2" type="submit" value="Agree">
</form>

</div>

{% endblock %}
