[submodule "rhythm-rtc"]
	path = rhythm-rtc
	url = https://github.com/HumanDynamics/rhythm-rtc.git
[submodule "rtc"]
	path = rtc
	url = https://github.com/HumanDynamics/rhythm-rtc.git
[submodule "rhythm-server"]
	path = rhythm-server
	url = https://github.com/HumanDynamics/rhythm-server.git
