{% extends 'base.html' %}

{% block container %}
<div class="survey">
    <h2> That's it! </h2>

    <p> How well do you think you were at predicting risk? </p>
    <p> Your final score was {{score }}, and the group average was {{groupScore}}</p>

    <form class="form-inline" action="." method="post">
        {% csrf_token %}
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}
            <div class="row">
            <div class="form-group">
                <label for="skill-predict">How good do you think you are at estimating risk?</label>
                <select class="form-control" name="skillreport" id="skill-predict">
                    <option value="0">Not Good</option>
                    <option value="1">Somewhat Good</option>
                    <option value="2">Good</option>
                    <option value="3">Very Good</option>
                </select>
            </div>
            </div>

            <div class="row">
            <fieldset class="form-group">
                <p>Do you think talking with
                    others in your group helped you make better estimates?</p>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="talkingBetter" id="groupEstimateRadiosYes" value="yes" checked>
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="talkingBetter" id="groupEstimateRadiosNo" value="no">
                        No
                    </label>
                </div>
            </fieldset>
            </div>
            <div class="row">
            <div class="form-group">
                <label for="whyGroupTextArea">Why?</label>
                <textarea class="form-control" name="whyGroup" id="whyGroupTextArea" rows="3"></textarea>
            </div>
            </div>
            <div class="row">
            <div class="form-group">
                <label for="groupChange">How much do you think you changed your estimates after talking to your group?</label>
                <select class="form-control" name="groupChange" id="groupChange">
                    <option value="0">Not at all</option>
                    <option value="1">Somewhat</option>
                    <option value="2">Very much</option>
                </select>
            </div>
            </div>
        <button class="btn btn-primary nextButton" type="submit">Submit Assignment</button>
    </form>
</div>
{% endblock %}
