{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumbs %}
<div id="breadcrumbs" hidden="true">
  <ul class="nav nav-wizard">
    <li>Current Round: <span id="currentRound"></span></li>
    <li id="initial"><a>Initial Guess</a></li>
    <li id="interactive"><a>Interactive Guess</a></li>
    <li id="outcome"><a>Round Outcome</a></li>
  </ul>
</div>
{% endblock %}

{% block container %}

<div id="lobby">
    <div class="row">
        <div class="col-md-12">
            {% if not request.groupId %}
            You're not in a pre-defined group, so you'll join the next available open group of students.
            {% else %}
            We think you're in a pre-defined group with ID '{{request.groupId}}', so we'll wait to start the assignment until all five of you are here.
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if not request.linkedId %}
            We don't have a linked ID for you..
            {% else %}
            We think you're have a linked ID '{{request.linkedId}}'.
            {% endif %}
        </div>
    </div>
  <div class="row">
      <div class="col-md-12" id="waiting">There are currently a total of
          <span id="connected_players">0</span> out of <span id="total_players">0</span>
          required participants waiting for the game to start.</div>
  </div>
  <p>Please wait a few moments while we try to find the needed participants.</p>
  <p>If we can't find enough participants within {{lobbyTimeout}} minutes, we will end the HIT and pay you for your time.</p>
  <h>Please make sure your sound is on as a bell will ring to indicate the start of a new game.</h>
</div>

<div id="game" hidden>
  <div class="form">
    <div class="col-md-4 guess" hidden>
      <div>
          <img src='#' class="img-responsive" style="width: 100%"/>
      </div>
      <div id="picker">
        {% include 'components/slider.html' %}
        <input type="submit" value="Next" id="submit" class="btn btn-primary nextButton">
      </div>
    </div>

    <div class="col-md-5 outcome" hidden>
      <div>
        <img src='#' class="img-responsive" style="width: 100%"/>
      </div>
      <div>
        Your guess: <span id="yourGuess"></span>
      </div>

      <div>
        Actual correlation: <span id="roundAnswer"></span>
      </div>
      <input type="submit" value="Next" id="submit" class="btn btn-primary nextButton">
    </div>


    <div class="col-md-5">
      <div class="outcome" hidden>
        <b>You are following:</b>
        <div>User Scores</div>
        <table class="table table-bordered" id="unfollow_list">
          <tbody>
          </tbody>
        </table>
      </div>

      <!-- insert video here -->
      <div id="interactiveGuess" hidden>
          {%include 'components/video.html' %}
        <div>User Guesses</div>
        <table class="table table-bordered" id="following_list">
          <tbody>
          </tbody>
        </table>
      </div>
      {% include 'components/timer.html' %}
    </div>

    <div class="col-md-5">
      <div class="outcome" hidden>
        <b>You can follow:</b>
        <div id="follow_list">
        </div>
      </div>
    </div>
    
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            Waiting for other players...
            <img src='/static/images/loading.gif' class="loading"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block extra_javascript %}
<script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>
<script>
 var groupId = "{{request.groupId}}" == "" ? null : "{{request.groupId}}"
 var linkedId = "{{request.linkedId}}" == "" ? null : "{{request.linkedId}}"
</script>

<script src="{% static "js/interactive.js" %}"></script>
<script type="text/javascript" src="{% static "rtcjs/easyrtc.js" %}"></script>
<script type="text/javascript" src="{% static "rtcjs/socket.io.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>

{% endblock %}
