{% load staticfiles i18n %}

{% block css%}
<link href="{% static 'css/video.css' %}" rel="stylesheet">
{% endblock %}


<div class="row">
    <div class="col s3 center">
        <div id="videoWrapper" class="responsive-video">
            <video id="box0" class="responsive-video" muted volume="0" width="237" height="180"></video>
            <canvas id="videoOverlay"></canvas>
        </div>
    </div>

    <div class="col s9">
        <div class="row">
            <video id="box1" class="responsive-video remote col" style="display:none"></video>
            <video id="box2" class="responsive-video remote col" style="display:none"></video>
            <video id="box2" class="responsive-video remote col" style="display:none"></video>
            <video id="box3" class="responsive-video remote col" style="display:none"></video>
            <video id="box4" class="responsive-video remote col" style="display:none"></video>
        </div>
    </div>
</div>
