{% load staticfiles i18n %}

<div class="row">
    <div class="col-md-12">
        <div class="row" id="videoRow">
            <div class="col-md-3 col-center videoContainer">
                <div id="box1_container" class="card">
                    <div class="card-block video-card-block">
                        <div id="box1_videoPlaceHolder" class="videoPlaceHolder">
                            <p class="text-center videoPlaceHolderText" id="box1_videoPlaceHolderText">
                            Waiting for group members...
                            </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="info-row row">
                            <div class="col-md-6 score text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-center videoContainer">
                <div id="box2_container" class="card">
                    <div class="card-block video-card-block">
                        <div id="box2_videoPlaceHolder" class="videoPlaceHolder">
                            <p class="text-center videoPlaceHolderText" id="box2_videoPlaceHolderText">
                            Waiting for group members...
                            </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="info-row row">
                            <div class="col-md-6 score text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-center videoContainer">
                <div id="box3_container" class="card">
                    <div class="card-block video-card-block">
                        <div id="box3_videoPlaceHolder" class="videoPlaceHolder">
                            <p class="text-center videoPlaceHolderText" id="box3_videoPlaceHolderText">
                            Waiting for group members...
                            </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="info-row row">
                            <div class="col-md-6 score text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-center videoContainer">
                <div id="box4_container" class="card">
                    <div class="card-block video-card-block">
                        <div id="box4_videoPlaceHolder videoPlaceHolderText" class="videoPlaceHolder">
                            <p class="text-center videoPlaceHolderText" id="box4_videoPlaceHolderText">
                            Waiting for group members...
                            </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="info-row row">
                            <div class="col-md-6 score text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
